<div class="ui menu inverted teal">
  <div class="ui container">
    <a href="/" class="item">AutoComplete128</a>
    <div class="item">
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" placeholder="Buscar players..." type="text">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <div class="menu right">
      <a href="/player/new" class="item">Cadastrar Player</a>
    </div>
  </div>
</div>