{% extends 'app/shared/base.html' %}
{% block content%}
  <h1>Player list</h1>
  <table class="ui table">
    <thead>
      <tr>
        <th>Ranking</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for player in players %}
      <tr>
        <td>
          <span class="ui circular label">{{ player.rank_position }}</span>
        </td>
        <td> {{ player.name }}</td>
        <td colspan="3">
          <a href="" class="ui labeled icon button mini teal">
            <i class="icon eye"></i> 
            Visualizar
          </a>
          <a href="" class="ui labeled icon button mini orange">
            <i class="icon edit"></i>
            Editar
          </a>
          <a href="" class="ui labeled icon button mini red">
            <i class="icon remove"></i>
            Remover
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class='ui pagination menu'>
    {% if actual < 2 %}
      <a href='#' class="disabled item">
        <i class="icon chevron left"></i>
      </a>
    {% else %}
      <a href="/?page={{prev}}" class="item">
        <i class="icon chevron left"></i>
      </a>
    {% endif %}
    
    {% for page in list_pages %}
        <a class="item {%  if actual == page %} active {% endif %}"  href="/?page={{page}}">{{page}}</a>
    {% endfor %}
    
    {% if actual >= total or total == 1 %}
      <a href="#" aria-label="Next" class="item disabled">
        <i class="icon chevron right"></i>
      </a>
    {% else %}
      <a href="/?page={{next}}" class="item" aria-label="Next">
        <i class="icon chevron right"></i>
      </a>
    {% endif %}
  </div>
{% endblock content %}